/* 2372059 Syahrial Achmad C */

body {
   font-family: 'Bebas Neue', sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(34,195,177);
    background: linear-gradient(0deg, rgba(34,195,177,1) 0%, rgba(146,45,253,1) 100%);
}

/* navbar */
.navbar {
  box-shadow: 0px 3px 8px rgb(174, 174, 174);
  padding: 20px;
  background-color: black;

}
.nav-item {
  text-decoration-color: white;
  font-size: xx-large;
}
.nav-item a{
 justify-content: center;
}
.navbar-brand{
 font-size: xx-large;
 color: white;
 overflow: hidden;

}

.imageNavbar {
  width: 60px;
  height: 50px;
  object-fit: cover;
}

/* home */
.kotak{
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;

}

.kotak .text{
  position: relative;
  color: red;
  font-size: 150px;
  font-weight: 600;
  overflow: hidden;
}

.kotak .text.first-text{
  color:#fff;
}

.text.sec-text:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(146,45,253,1);
  border-left: 2px solid red;
  animation: animate 4s steps(12) infinite;
}

@keyframes animate{
  40%,60%{
    left: calc(100% + 4px);
  }
  100%{
    left: 0%;
  }
}



/* Card */
.judul{
   text-decoration: none;
}

.main-row {
   overflow: hidden;
 }
 
 .card-container {
   margin-top: 80px;
 }
 
 .card-container h2 {
   text-decoration: 6px underline rgb(248, 0, 0);
   text-transform: uppercase;
   text-underline-offset: 0.5rem;
   color: rgb(0, 0, 0);
 }
 
 .card {
   box-shadow: 7px 7px 4px rgb(255, 0, 0);
}




 /* Footer */
 .footer-container {
  height: auto;
  padding-bottom: 40px;
  background-color:black;
  
}

.kidney {
  transform: scale(0.7);
}

.company-profile {
  width: 25%;
}

.company-profile img {
  width: 70px;
}

.company-name {
  display: inline;
}

.company-profile p {
  font-size: 0.8rem;
  padding-top: 1em;
}

.icons {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.discovery {
  padding-bottom: 100px;
  padding-right: 60px;
  color: white;
}

.discovery a {
  line-height: 2rem;
  display: block;
  text-decoration: none;
  color: rgb(65, 65, 65);
}
.col1{
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.minds {
  padding-bottom: 40px;
  color: white;
}

.minds li {
  list-style: none;
  line-height: 2rem;
  font-size: 1rem;
}
#content{
  justify-content: left;
  color: white;
}
.teen{
  height: 100px;
  width: 90px;
}
.icon-container img {
  cursor: pointer;
}

.footer-content {
  justify-content: center;
  align-items: center;
}
/* End of Footer */
 








